<div class="uk-section-small uk-section-default header  ">
    <div class="uk-container uk-container-large">
        <h1>Editar registros</h1>
        <ul class="uk-breadcrumb">
            <li><a (click)="volver()">Dashboard</a></li>
            <li>Editar registros</li>
        </ul>
    </div>
</div>


<div class="uk-section-small">
    <div class="uk-container uk-container-large">
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <form [formGroup]="formulario" (ngSubmit)="editarRegistro()">
                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend">Editar equipo</legend>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Nombre</label>
                            <input class="uk-input" type="text" formControlName="nombre" [(ngModel)]="consulta.nombre" />
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Apellido</label>
                            <input class="uk-input" type="text" formControlName="apellido" [(ngModel)]="consulta.apellido" />
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Nacionalidad</label>
                            <input class="uk-input" type="text" formControlName="nacionalidad" [(ngModel)]="consulta.nacionalidad" />
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Telefono</label>
                            <input class="uk-input" type="text" formControlName="telefono" [(ngModel)]="consulta.telefono" />
                        </div>
                        
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Edad</label>
                            <input class="uk-input" type="text" formControlName="edad" [(ngModel)]="consulta.edad" />
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Fecha de Nacimiento</label>
                            <input class="uk-input" type="date" formControlName="fechaNacimiento" [(ngModel)]="consulta.fechaNacimiento" />
                        </div>

                        <div class="uk-margin uk-text-center">
                            <button class="uk-button uk-button-default" (click)="volver()"
                                type="button">Cancelar</button>
                            <button class="uk-button uk-button-primary" type="submit"
                            style="margin-left: 13px">Guardar</button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>